html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    margin: 0 !important;
    background-color: #ffffff !important;
    height: 100%;
}

.flex {
    display: flex;
}

.axis {
    font-size: 8px
}

svg text {
    fill: black;
    text-anchor: end;
}

.selected {
    fill: #2450ff
}

.not-selected {
    fill: #56728d
}

.unknown {
    fill: #eeeeee;
}

.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background:#000;
    color: #fff;
    text-align:center;
}

.navigate {
    display: flex;
}

.navigate hr {
    width: 40px;
    height: 2px;
    background-color: #2450ff;
    position: absolute;
    margin: 0;
}

.navigate .dot {
    width: 20px;
    height: 20px;
    background-color: #2450ff;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}

.navigate .dot:hover {
    background-color: #0069d9;
}

.navigate .nav-unit {
    display: flex;
    position: relative; /* This is needed when child is absolute */
    flex-direction: column;
    align-items: center;
    width: 130px;
    margin-right: 20px
}

/* The navigation line */
.navigate > *:not(:last-child):after{
    content: "";
    position: absolute;
    left: 55%;
    top: 18%;
    width: 105%;
    border-top: 0.3rem solid #2450ff;
}
.navigate .active {
    background-color: #ffca28;
}
.navigate .active:hover {
    background-color: #f9c428;
}

.view-container {
    display: none;
    flex-grow: 1;
}

#CO2-container {
    display: flex;
}

.map-container {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
}

.includes-selection {
    position: absolute;
    top: 4rem;
    left: 1.5rem;
}

.selected-stack {
    stroke: #002752;
    stroke-width: 2px;
}

.window-input-container label, .window-input-container input{
    margin: 10px 15px;
}
