html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    background-color: #ffffff !important;
}

.flex {
    display: flex;
}

.axis {
    font-size: 8px
}

svg text {
    fill: black;
    text-anchor: end;
}

.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background:#000;
    color: #fff;
    text-align:center;
}
