html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    background-color: #ffffff !important;
}

svg rect {
    fill: orange;
}

svg text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}